.btn-contactar {
    transition: .5s;
}

.btn-contactar:hover {
    /* transform: scale(1.5); */
    font-size: larger;
    transition: .5s;
    background-color: #cca353;
    color: #F7F4F0;
}

input:required {
    color: #373d31;
}

.form-control::placeholder {
    color: #cca353!important;
}

.warning {
    transition: all .5s;
}
/* ionic cap run ios -l -external */