nav {
    background: #F7F4F0;
    height: 80px;
    width: 100%;
}

.menu-logo {
    height: 125%;
    line-height: 80px;
    padding: 0 70px;
}

nav ul {
    float: right;
    margin: 20px;
    font-weight: lighter;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a {
    color: #868f82;
    /* color: black; */
    text-transform: uppercase;
    font-size: 15px;
    padding: 7px 13px;
}

a:hover{
    text-decoration: none;
}

a.active,a:hover {
    /* background: #cca353; */
    border-color: #cca353;
    border-style: solid;
    border-width: 0 0 3px 0;
    color: #373d31;
    transition: .5s;
    font-size: 18px;
    font-weight: normal;
}

.menu-icon {
    background: transparent;
    font-size: x-large;
    transition: .5s;

}

.menu-icon:hover {
    color: #373d31;
    transition: .5s;
    font-size: xx-large;
}

.checkbtn {
    font-size: xx-large;
    color: #cca353;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) {

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #F7F4F0;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul {
        margin: 0px;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        font-size: larger;
    }

    #check:checked ~ ul {
        left: 0;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 767px) and (min-width: 576px) {

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #F7F4F0;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul {
        margin: 0px;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        font-size: larger;
    }

    #check:checked ~ ul {
        left: 0;
    }

}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 991px) and (min-width: 768px) {
    
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #F7F4F0;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul {
        margin: 0px;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        font-size: larger;
    }

    #check:checked ~ ul {
        left: 0;
    }

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1199px) and (min-width: 992px) {

    .menu-logo {
        padding: 0 50px;
    }

}

@media (min-width: 1200px){
    
}